@model IEnumerable<QuanLyRapPhim.Models.FilmModel>

@{
    ViewData["Title"] = "Danh sách phim";
}

<div class="row no-gutters justify-content-between">
    <h1 style="align-self: self-end;">
        @ViewData["Title"]
    </h1>
    <a class="btn btn-primary" asp-action="AddNewFilm" asp-controller="Admin"
        style="height: min-content; width:100%; max-width: 200px; align-self: self-end;">
        Thêm phim mới
    </a>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width: auto;">
                @Html.DisplayNameFor(model => model.filmName)
            </th>
            <th style="width: 10%;">
                @Html.DisplayNameFor(model => model.filmGenre.filmGenreName)
            </th>
            <th style="width: 15%;">
                @Html.DisplayNameFor(model => model.filmMainCategory.filmMainCategoryName)
            </th>
            <th style="width: 15%;">
                @Html.DisplayNameFor(model => model.filmStartDate)
            </th>
            <th style="width: 10%;">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            var filmName = i.filmName.ToUpper();
            var filmGenreName = i.filmGenre.filmGenreName;
            var filmMainCategoryName = i.filmMainCategory.filmMainCategoryName;
            var filmStartDate = i.filmStartDate == null ? "Chưa xác định" : i.filmStartDate?.ToShortDateString();
            var filmId = i.filmId;

            <tr>
                <td>
                    @filmName
                </td>
                <td>
                    @filmGenreName
                </td>
                <td>
                    @filmMainCategoryName
                </td>
                <td>
                    @filmStartDate
                </td>
                <td>
                    <a asp-action="FilmDetail" asp-controller="Admin" asp-route-filmId="@filmId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
