@model QuanLyRapPhim.Models.FilmModel

@{
    ViewData["Title"] = "Mua vé xem phim";
}

<h1>@ViewData["Title"]</h1>
<hr />


<div class="row no-gutters flex">
    <div class="col-auto" style="position: relative;">
        @{
            var filmPosterImage = Model.filmPosterImage ?? "noimageavailable.jpg";
        }
        <img src="~/poster/@filmPosterImage" alt="@Model.filmName.ToUpper()" width="197px" height="271px">
        @{
            var filmGenre = string.IsNullOrEmpty(Model.filmGenreId) ? "" :
            Model.filmGenre.filmGenreName;
            var filmGenreStyle = string.IsNullOrEmpty(Model.filmGenreId) ? "" : "width: 48px; height: 27px";
        }
        <span class="rounded"
            style="position: absolute; top: 5px; left: 5px; @filmGenreStyle; color: white; background-color: orange;">
            <center>
                <strong style="user-select: none;">@filmGenre</strong>
            </center>
        </span>
    </div>
    <div class="col" style="padding-left: 25px;">
        <span>
            <h4>@Model.filmName.ToUpper()</h4>
        </span>
        <div>
            <div>
                <span class=" font-weight-bold">Đạo diễn : </span>
                <span>@Model.filmDirector</span>
            </div>
            <div>
                <span class="font-weight-bold">Diễn viên : </span>
                <span>@Model.filmMainActors</span>
            </div>
            <div>
                <span class="font-weight-bold">Thể loại : </span>
                @{
                    var filmMainCategory = string.IsNullOrEmpty(Model.filmMainCategoryId) ? "Chưa xác định" :
                    Model.filmMainCategory.filmMainCategoryName;
                }
                <span>@filmMainCategory</span>
            </div>
            <div>
                <span class="font-weight-bold">Thời lượng : </span>
                @{
                    var filmLength = Model.filmLength == -1 || Model.filmLength == 0 ? "Chưa xác định" :
                    $"{Model.filmLength} phút";
                }
                <span>@filmLength</span>
            </div>
            <div>
                <span class="font-weight-bold">Quốc gia sản xuất : </span>
                @{
                    var filmCountry = Model.filmCountry ?? "Chưa xác định";
                }
                <span>@filmCountry</span>
            </div>
            <div>
                <span class="font-weight-bold">Phụ đề : </span>
                @{
                    var languageSubtitle = Model.languageSubtitle ?? "Không";
                }
                <span>@languageSubtitle</span>
            </div>
            <div>
                <span class="font-weight-bold">Khởi chiếu : </span>
                @{
                    var filmStartDate = Model.filmStartDate.HasValue
                    ? string.Format("{0:dd/MM/yyyy}", Model.filmStartDate)
                    : "Chưa xác định";
                }
                <span>@filmStartDate</span>
            </div>
            <div>
                <span class="font-weight-bold">Phân loại độ tuổi : </span>
                @{
                    filmGenre = string.IsNullOrEmpty(Model.filmGenreId) ? "Chưa xác định" :
                    Model.filmGenre.filmGenreName + " - " + Model.filmGenre.filmGenreDescription;
                }
                <span>@filmGenre</span>
            </div>
            <div>
                <span class="font-weight-bold">Nội dung chính : </span>
                <span>@Model.filmDescription</span>
            </div>
        </div>
    </div>
</div>


<div style="display: grid; grid-template-columns: repeat(auto-fill, 250px);justify-content: space-between;">
    <select class="custom-select mt-4 w-100" id="selectCinema" disabled>
        <option disabled hidden selected>Chọn rạp</option>
    </select>
    <select class="custom-select mt-4 w-100" id="selectFilmShowDate" disabled>
        <option disabled hidden selected>Chọn ngày chiếu</option>
    </select>
    <select class="custom-select mt-4 w-100" id="selectFilmShowTime" disabled>
        <option disabled hidden selected>Chọn giờ chiếu</option>
    </select>
    <a class="btn btn-primary mt-4 w-100 text-light" id="chooseSeatButton">
        Chọn vị trí ngồi</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("getCinema")",
                data: {
                    "filmId": "@Model.filmId",
                },
                success: function (response) {
                    if (response != '') {
                        $("#selectCinema").removeAttr("disabled");
                    }
                    $("#selectCinema").find("option").not(":first").remove();
                    for (i in response) {
                        $("#selectCinema").append(
                            "<option value = \"" + response[i]["cinemaId"] + "\">" + response[i]["cinemaName"] + "</option>"
                        )
                    }
                }
            });
        });

        $("#selectCinema").change(function () {
            var cinemaId = $("#selectCinema option:selected").val();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("getFilmShowDate")",
                data: {
                    "cinemaId": cinemaId,
                },
                success: function (response) {
                    $("#selectFilmShowDate").removeAttr("disabled");
                    $("#selectFilmShowDate").find("option").not(":first").remove();
                    for (i in response) {
                        $("#selectFilmShowDate").append(
                            "<option value = \"" + response[i] + "\">" + response[i] + "</option>"
                        )
                    }
                }
            });
        });

        $("#selectFilmShowDate").change(function () {
            var cinemaId = $("#selectCinema option:selected").val();
            var filmShowDate = $("#selectFilmShowDate option:selected").val();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("getFilmShowTime")",
                data: {
                    "filmShowDate": filmShowDate,
                    "cinemaId": cinemaId,
                },
                success: function (response) {
                    $("#selectFilmShowTime").removeAttr("disabled");
                    $("#selectFilmShowTime").find("option").not(":first").remove();
                    for (i in response) {
                        $("#selectFilmShowTime").append(
                            "<option value = \"" + response[i] + "\">" + response[i] + "</option>"
                        )
                    }
                }
            });
        });

        $("#selectFilmShowTime").change(function () {
            var cinemaId = $("#selectCinema option:selected").val();
            var filmShowDate = $("#selectFilmShowDate option:selected").val();
            var filmShowTime = $("#selectFilmShowTime option:selected").val();
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("getFilmScheduleId")",
                data: {
                    "cinemaId": cinemaId,
                    "filmShowDate": filmShowDate,
                    "filmShowTime": filmShowTime,
                },
                success: function (response) {
                    var href = "@Url.Action("Index", "ChooseSeat", new { filmScheduleId = "response" })".replace("response", response);
                    $("#chooseSeatButton").attr("href", href);
                }
            })
        });
    </script>
}