@model QuanLyRapPhim.Models.SignInViewModel

@{
    ViewData["Title"] = "Đăng nhập";

    string htmlValidationError = @ViewData["Message"] != null
    ? $@"<div class=""alert alert-danger col col-sm-6"">Lỗi khác {ViewData["Message"]}</div>"
    : "";
}

<h1>
    @ViewData["Title"]
</h1>
<hr>

@Html.Raw(htmlValidationError)

<form method="post" asp-action="Login">
    <div class="form-group row no-gutters">
        <label asp-for="@Model.userNameOrEmail" class="col col-12 col-form-label"></label>
        <div class="col col-sm-6">
            <input asp-for="@Model.userNameOrEmail" type="text" class="form-control">
            <span asp-validation-for="@Model.userNameOrEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row no-gutters">
        <label asp-for="@Model.password" class="col col-12 col-form-label"></label>
        <div class="col col-sm-6">
            <input asp-for="@Model.password" type="password" class="form-control">
            <span asp-validation-for="@Model.password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row no-gutters">
        <button class="btn btn-primary">Đăng nhập</button>
    </div>

    <div>
        Chưa có tài khoản? <a asp-action="Register" asp-controller="Membership">Đăng ký ngay</a>
    </div>
</form>