@model List<QuanLyRapPhim.Models.InvoiceModel>

@{
    ViewData["Title"] = "Lịch sử mua vé";
}

<h1>
    @ViewData["Title"]
</h1>
<hr>

<table class="table">
    <thead>
        <tr>
            <th style="width: auto;">
                Phim
            </th>
            <th style="width: 35%">
                Suất chiếu - Địa điểm xem
            </th>
            <th style="width: 15%;">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            var filmGenre = string.IsNullOrEmpty(i.ticket.filmSechedule.film.filmGenreId) ? "" :
            i.ticket.filmSechedule.film.filmGenre.filmGenreName;

            var filmGenreStyle = string.IsNullOrEmpty(i.ticket.filmSechedule.film.filmGenreId) ? "" : "width: 48px; height: 27px";

            var filmPosterImage = System.IO.File.Exists($"{System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot")}/poster/{i.ticket.filmSechedule.film.filmPosterImage}") ? i.ticket.filmSechedule.film.filmPosterImage : "noimageavailable.jpg";

            <tr>
                <td class="align-middle">
                    <div class="row no-gutters align-items-center">
                        <div style="width: fit-content;">
                            <img src="~/poster/@filmPosterImage" alt="@i.ticket.filmSechedule.film.filmName.ToUpper()" width="60px" height="90px">
                        </div>
                        <div class="ml-2">
                            <strong>@i.ticket.filmSechedule.film.filmName.ToUpper()</strong>
                            <br>
                            <div class="rounded"
                                style="@filmGenreStyle; color: white; background-color: orange;">
                                <center>
                                    <strong style="user-select: none;">@filmGenre</strong>
                                </center>
                            </div>
                        </div>
                    </div>
                    
                </td>
                <td class="align-middle">
                    @i.ticket.filmSechedule.filmShowTime.ToString(@"hh\:mm")
                    @i.ticket.filmSechedule.filmShowDate.ToShortDateString()
                    <br>
                    @i.ticket.filmSechedule.CinemaRoom.cinemaRoomName -
                    @i.ticket.filmSechedule.CinemaRoom.cinemaModel.cinemaName
                </td>
                <td class="align-middle">
                    <a asp-route-invoiceId="@i.invoiceId" asp-action="InvoiceDetail" asp-controller="Membership">Chi
                        tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>