@model QuanLyRapPhim.Models.FilmAdminModel

@{
    ViewData["Title"] = "Thêm phim mới";
}

<h1>@ViewData["Title"]</h1>
<hr>

<form method="post" asp-action="AddNewFilm" enctype="multipart/form-data">
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmName" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmName" type="text" class="form-control">
            <span asp-validation-for="@Model.filmName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmGenreId" class="col-3 col-form-label"></label>
        <div class="col-sm-6" style="padding-top: .375rem; padding-bottom: .375rem;">
            <div>
                <input type="radio" name="exists_filmGenre" value="1" checked>
                <label class="mr-3" for="Chưa xác định">Chưa xác định</label>
                <input type="radio" name="exists_filmGenre" value="2">
                <label class="mr-3" for="Đã xác định">Đã xác định</label>
            </div>
            <select name="filmGenre" id="filmGenre" class="w-100" style="height: calc(1.5em + .75rem + 2px);"
                disabled="disabled">
            </select>
        </div>

    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmMainCategoryId" class="col-3 col-form-label"></label>
        <div class="col-sm-6" style="padding-top: .375rem; padding-bottom: .375rem;">
            <div>
                <input type="radio" name="exists_filmMainCategory" value="1" checked>
                <label class="mr-3" for="Chưa xác định">Chưa xác định</label>
                <input type="radio" name="exists_filmMainCategory" value="2">
                <label class="mr-3" for="Đã xác định">Đã xác định</label>
            </div>
            <select name="filmMainCategory" id="filmMainCategory" class="w-100"
                style="height: calc(1.5em + .75rem + 2px);" disabled="disabled">
            </select>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmStartDate" class="col-3 col-form-label"></label>
        <div class="col-sm-6" style="padding-top: .375rem; padding-bottom: .375rem;">
            <div>
                <input type="radio" name="exists_filmStartDate" value="1" checked>
                <label class="mr-3" for="Chưa xác định">Chưa xác định</label>
                <input type="radio" name="exists_filmStartDate" value="2">
                <label class="mr-3" for="Đã xác định">Đã xác định</label>
            </div>
            <input id="filmStartDate" asp-for="@Model.filmStartDate" type="date" class="form-control"
                disabled="disabled">
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmLength" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmLength" type="number" min="-1" class="form-control">
            <span asp-validation-for="@Model.filmLength" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmDescription" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmDescription" type="text" class="form-control">
            <span asp-validation-for="@Model.filmDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmDirector" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmDirector" type="text" class="form-control">
            <span asp-validation-for="@Model.filmDirector" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmMainActors" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmMainActors" type="text" class="form-control">
            <span asp-validation-for="@Model.filmMainActors" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.filmCountry" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.filmCountry" type="text" class="form-control">
            <span asp-validation-for="@Model.filmCountry" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label asp-for="@Model.languageSubtitle" class="col-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.languageSubtitle" type="text" class="form-control">
            <span asp-validation-for="@Model.languageSubtitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label class="col-3 col-form-label">Ảnh - Poster</label>
        <div class="col-sm-6">
            <input name="filmPosterImage" type="file" class="form-control" accept="image/*">
        </div>
    </div>
    <div class="form-group row no-gutters">
        <label class="col-3 col-form-label">Ảnh - Banner</label>
        <div class="col-sm-6">
            <input name="filmBannerImage" type="file" class="form-control" accept="image/*">
        </div>
    </div>

    <div class="form-group row no-gutters">
        <button class="btn btn-primary">Gửi thông tin</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function (event) {
            $.ajax({
                type: "GET",
                url: "@Url.RouteUrl("AddNewFilmAutoLoad")",
                success: function (response) {

                    var filmGenres = response.filmGenres;
                    var filmMainCategories = response.filmMainCategories;

                    for (i in filmGenres) {
                        $("#filmGenre").append(
                            "<option value=\"" + filmGenres[i].filmGenreId + "\">" + filmGenres[i].filmGenreName + " - " + filmGenres[i].filmGenreDescription + "</option>");
                    }
                    for (i in filmMainCategories) {
                        $("#filmMainCategory").append(
                            "<option value=\"" + filmMainCategories[i].filmMainCategoryId + "\">" + filmMainCategories[i].filmMainCategoryName + "</option>"
                        );
                    }
                }
            });
        });

        $("input[name=exists_filmStartDate]").change(function () {
            if ($("input[name=exists_filmStartDate]:checked").val() == 1) {
                $("#filmStartDate").attr("disabled", "disabled");
            } else {
                $("#filmStartDate").removeAttr("disabled");
            }
        });

        $("input[name=exists_filmMainCategory]").change(function () {
            if ($("input[name=exists_filmMainCategory]:checked").val() == 1) {
                $("#filmMainCategory").attr("disabled", "disabled");
            } else {
                $("#filmMainCategory").removeAttr("disabled");
            }
        });

        $("input[name=exists_filmGenre]").change(function () {
            if ($("input[name=exists_filmGenre]:checked").val() == 1) {
                $("#filmGenre").attr("disabled", "disabled");
            } else {
                $("#filmGenre").removeAttr("disabled");
            }
        });

    </script>
}